<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<!-- Action注入 -->
	<bean id="loginAction" class="com.action.admin.LoginAction">
		<property name="adminFacade" ref="adminFacade"/>
	</bean>
	<bean id="registerAction" class="com.action.admin.RegisterAction">
		<property name="adminFacade" ref="adminFacade"/>
	</bean>
	<bean id="resetAction" class = "com.action.admin.ResetAction">
		<property name="adminFacade" ref="adminFacade"/>
	</bean>
	
	<bean id="deleteBorrowAction" class="com.action.borrow.DeleteBorrowAction">
		<property name="borrowFacade" ref="borrowFacade"/>
	</bean>
	<bean id="insertBorrowAction" class="com.action.borrow.InsertBorrowAction">
		<property name="borrowFacade" ref="borrowFacade"/>
	</bean>
	<bean id="listBorrowAction" class="com.action.borrow.ListBorrowAction">
		<property name="borrowFacade" ref="borrowFacade"/>
	</bean>
	<bean id="searchBorrowAction" class="com.action.borrow.SearchBorrowAction">
		<property name="borrowFacade" ref="borrowFacade"/>
	</bean>
	<bean id="updateBorrowAction" class="com.action.borrow.UpdateBorrowAction">
		<property name="borrowFacade" ref="borrowFacade"/>
	</bean>
	
	<bean id="deleteDormitoryAction" class="com.action.dormitory.DeleteDorAction">
		<property name="dormitoryFacade" ref="dormitoryFacade"/>
	</bean>
	<bean id="insertDormitoryAction" class="com.action.dormitory.InsertDorAction">
		<property name="dormitoryFacade" ref="dormitoryFacade"/>
	</bean>
	<bean id="listDormitoryAction" class="com.action.dormitory.ListDorAction">
		<property name="dormitoryFacade" ref="dormitoryFacade"/>
	</bean>
	<bean id="searchDormitoryAction" class="com.action.dormitory.SearchDorAction">
		<property name="dormitoryFacade" ref="dormitoryFacade"/>
	</bean>
	<bean id="updateDormitoryAction" class="com.action.dormitory.UpdateDorAction">
		<property name="dormitoryFacade" ref="dormitoryFacade"/>
	</bean>
		
	<bean id="deleteFinanceAction" class="com.action.finance.DeleteFinanceAction">
		<property name="financeFacade" ref="financeFacade"/>
	</bean>
	<bean id="insertFinanceAction" class="com.action.finance.InsertFinanceAction">
		<property name="financeFacade" ref="financeFacade"/>
	</bean>
	<bean id="listFinanceAction" class="com.action.finance.ListFinanceAction">
		<property name="financeFacade" ref="financeFacade"/>
	</bean>
	<bean id="searchFinanceAction" class="com.action.finance.SearchFinanceAction">
		<property name="financeFacade" ref="financeFacade"/>
	</bean>
	<bean id="updateFinanceAction" class="com.action.finance.UpdateFinanceAction">
		<property name="financeFacade" ref="financeFacade"/>
	</bean>
		
	<bean id="deleteClassAction" class="com.action.mclass.DeleteClassAction">
		<property name="classFacade" ref="classFacade"/>
	</bean>
	<bean id="insertClassAction" class="com.action.mclass.InsertClassAction">
		<property name="classFacade" ref="classFacade"/>
	</bean>
	<bean id="listClassAction" class="com.action.mclass.ListClassAction">
		<property name="classFacade" ref="classFacade"/>
	</bean>
	<bean id="searchClassAction" class="com.action.mclass.SearchClassAction">
		<property name="classFacade" ref="classFacade"/>
	</bean>
	<bean id="updateClassAction" class="com.action.mclass.UpdateClassAction">
		<property name="classFacade" ref="classFacade"/>
	</bean>
		
	<bean id="deleteMedicalTreatAction" class="com.action.medicaltreat.DeleteMedAction">
		<property name="medicalTreatFacade" ref="medicalTreatFacade"/>
	</bean>
	<bean id="insertMedicalTreatAction" class="com.action.medicaltreat.InsertMedAction">
		<property name="medicalTreatFacade" ref="medicalTreatFacade"/>
	</bean>
	<bean id="listMedicalTreatAction" class="com.action.medicaltreat.ListMedAction">
		<property name="medicalTreatFacade" ref="medicalTreatFacade"/>
	</bean>
	<bean id="searchMedicalTreatAction" class="com.action.medicaltreat.SearchMedAction">
		<property name="medicalTreatFacade" ref="medicalTreatFacade"/>
	</bean>
	<bean id="updateMedicalTreatAction" class="com.action.medicaltreat.UpdateMedAction">
		<property name="medicalTreatFacade" ref="medicalTreatFacade"/>
	</bean>
		
	<bean id="deleteStudentAction" class="com.action.student.DeleteStudentAction">
		<property name="studentFacade" ref="studentFacade"/>
	</bean>
	<bean id="insertStudentAction" class="com.action.student.InsertStudentAction">
		<property name="studentFacade" ref="studentFacade"/>
	</bean>
	<bean id="listStudentAction" class="com.action.student.ListStudentAction">
		<property name="studentFacade" ref="studentFacade"/>
	</bean>
	<bean id="searchStudentAction" class="com.action.student.SearchStudentAction">
		<property name="studentFacade" ref="studentFacade"/>
	</bean>
	<bean id="updateStudentAction" class="com.action.student.UpdateStudentAction">
		<property name="studentFacade" ref="studentFacade"/>
	</bean>
	<bean id="testAction" class="com.action.TestAction">
		<property name="adminService" ref="adminService"/>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/school_manager?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="fixture"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>./Student.hbm.xml</value>
				<value>./MedicalTreat.hbm.xml</value>
				<value>./Finance.hbm.xml</value>
				<value>./Dormitory.hbm.xml</value>
				<value>./MClass.hbm.xml</value>
				<value>./Borrow.hbm.xml</value>
				<value>./Admin.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- Dao注入 -->
	<bean id="adminDao" class="com.dao.impl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="borrowDao" class="com.dao.impl.BorrowDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="dormitoryDao" class="com.dao.impl.DormitoryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="financeDao" class="com.dao.impl.FinanceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="classDao" class="com.dao.impl.ClassDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="medicalTreatDao" class="com.dao.impl.MedicalTreatDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="studentDao" class="com.dao.impl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <!--  service注入 -->
	 <bean id="adminService" class="com.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"/>
	 </bean>
	 <bean id="borrowService" class="com.service.impl.BorrowServiceImpl">
		<property name="borrowDao" ref="borrowDao"/>
	 </bean>
	 <bean id="dormitoryService" class="com.service.impl.DormitoryServiceImpl">
		<property name="dormitoryDao" ref="dormitoryDao"/>
	 </bean>
	 <bean id="financeService" class="com.service.impl.FinanceServiceImpl">
		<property name="financeDao" ref="financeDao"/>
	 </bean>
	 <bean id="classService" class="com.service.impl.ClassServiceImpl">
		<property name="classDao" ref="classDao"/>
	 </bean>
	 <bean id="medicalTreatService" class="com.service.impl.MedicalTreatServiceImpl">
		<property name="medicalTreatDao" ref="medicalTreatDao"/>
	 </bean>
	 <bean id="studentService" class="com.service.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao"/>
	 </bean>
	 
	 <!-- facade注入 -->
	 <bean id="adminFacade" class="com.facade.impl.AdminFacadeImpl">
		<property name="adminService" ref="adminService"/>
	 </bean>
	 <bean id="borrowFacade" class="com.facade.impl.BorrowFacadeImpl">
		<property name="borrowService" ref="borrowService"/>
	 </bean>
	 <bean id="dormitoryFacade" class="com.facade.impl.DormitoryFacadeImpl">
		<property name="dormitoryService" ref="dormitoryService"/>
	 </bean>
	 <bean id="financeFacade" class="com.facade.impl.FinanceFacadeImpl">
		<property name="financeService" ref="financeService"/>
	 </bean>
	 <bean id="classFacade" class="com.facade.impl.ClassFacadeImpl">
		<property name="classService" ref="classService"/>
	 </bean>
	 <bean id="medicalTreatFacade" class="com.facade.impl.MedicalTreatFacadeImpl">
		<property name="medicalTreatService" ref="medicalTreatService"/>
	 </bean>
	 <bean id="studentFacade" class="com.facade.impl.StudentFacadeImpl">
		<property name="studentService" ref="studentService"/>
	 </bean>
</beans>